---
---

/*
  If the number of TAB files has changed, the following variable is required.
  And it must be defined before `@import`.

$tab-count: {{ site.tabs | size | plus: 1 }}; // plus 1 for home tab
*/

@import "{{ site.theme }}";

/* append your custom style below */

/* Main fonts */
@import url(https://fonts.googleapis.com/css?family=Figtree:300,500,i,b);
@import url(https://fonts.googleapis.com/css?family=Mate:400,i,b);

html *{
  font-family: 'Figtree', sans-serif;
  font-feature-settings: "tnum";
}

/* Highlight override */
::selection {
  background: #000000;
}


/* toast */
#notification.toast.show{
  background-color: rgba(117, 117, 117, 0.5);
}

/* writing class */
.prose{
  text-indent: 2rem;
}

.prose p{
  margin-bottom: 0.2rem;
}

/* title & subtitle */
.title{
  font-weight: 300;
  font-size: 2.2rem;
  margin-bottom: .5rem !important;
}

.subtitle{
  margin-top: unset !important;
  font-weight: bold;
  color: var(--text-muted-color);
  font-size: 1.5rem;
}

.dynamic-title{
  text-transform: lowercase;
  font-weight: 300;
}

/* post content fonts (this CANNOT be how CSS works...)*/
.goodfont p, .goodfont em, .goodfont strong, .goodfont li, .goodfont a, .post-content p{
  font-family: 'Mate', serif;
}

/*blockquote p, a{
  font-family: 'Figtree', sans-serif !important;
}*/

.post-content{
  font-size: 1.2rem;
  font-weight: 100;
}

/* tweaks */
/*#sidebar .site-title a{
  font-weight: 300;
}*/

#sidebar .nav-link{
  font-weight: unset;
}

#archives .year::after{
  left: 9.5px;
}

#sidebar #avatar img:hover{
  transform: none;
}

#sidebar #avatar > a{
  border: none;
}

#sidebar a{
  text-transform: lowercase;
}

#topbar-wrapper{
  border: none;
}

#topbar-title{
  text-transform: lowercase;
}

#panel-wrapper .panel-heading{
  text-transform: lowercase;
}

#topbar{
  border-bottom: 1px solid var(--search-wrapper-border-color);
}

#topbar p, #topbar span {
  text-transform: lowercase;
}

#panel-wrapper .post-tag:hover{
  background-color: #502757;
  border-color: #502757;
}

.footnotes{
  border-top: 1px solid var(--search-wrapper-border-color);
  font-size: 0.9rem;
}

.post-tag:hover {
  border-bottom: none;
  text-decoration: none;
  color: rgb(200, 148, 212)
}

.post-tail-bottom{
  padding-top: 1rem !important;
  margin:unset !important;
}

.code-header::before{
  height: unset;
}

/* Misc
.meta-wrapper-guy{
  display:flex;
  align-items: center;
  gap: 20px;
}

.post-tail-wrapper{
  padding-bottom: 0.5rem;
  display:flex;
  align-items: center;
  justify-content: space-between;
}
*/